In [3]:
import pandas as pd
import os

In [7]:
os.chdir('..')

In [11]:
df_gastos_varios = pd.read_excel('12_DICIEMBRE_2020.xlsx', sheet_name='GASTOS VARIOS', skiprows=5)
df_gastos_varios['SHEET'] = 'GASTOS VARIOS'

In [12]:
df_contratistas = pd.read_excel('12_DICIEMBRE_2020.xlsx', sheet_name='CONTRATISTAS Y FDO FED', skiprows=5)
df_contratistas['SHEET'] = 'CONTRATISTAS Y FDO FED'

In [13]:
df_servicios = pd.read_excel('12_DICIEMBRE_2020.xlsx', sheet_name='SERV PPROF', skiprows=5)
df_servicios['SHEET'] = 'SERV PPROF'

In [14]:
df_comunicacion = pd.read_excel('12_DICIEMBRE_2020.xlsx', sheet_name='COMUNICACION', skiprows=5)
df_comunicacion['SHEET'] = 'COMUNICACION'

In [15]:
df_personales = pd.read_excel('12_DICIEMBRE_2020.xlsx', sheet_name='SERV. PERS.', skiprows=5)
df_personales['SHEET'] = 'SERV. PERS.'

In [16]:
df_compras_dic = pd.concat([df_gastos_varios, df_contratistas, df_servicios, df_comunicacion, df_personales])

In [17]:
df_compras_dic.head(5)

,NUM BEN,BENEFICIARIO,RFC,FACTURA,CONTRATO,CONCEPTO,TIPO,# OP,FECHA,IMPORTE,SHEET
0,110152,"LLANTAS Y SERVICIOS SERNA ANAHUAC,S.A. DE C.V.",LSS841015DV3,LLS AF8458-158008-3972,OT. 20204373,REEMPLAZO E INSTALACION DE AMORTIGUADORES (DEL...,TR,1019110.0,2020-12-11,14911.80,GASTOS VARIOS
1,110152,"LLANTAS Y SERVICIOS SERNA ANAHUAC,S.A. DE C.V.",LSS841015DV3,LLS PF6916-158008-4041,OT. 20204425,REEMPLAZO E INSTALACION DE OCHO BIRLOS Y NUEVE...,TR,1019110.0,2020-12-11,2528.80,GASTOS VARIOS
2,110152,"LLANTAS Y SERVICIOS SERNA ANAHUAC,S.A. DE C.V.",LSS841015DV3,LLS PF6917-158008-3975,OT. 20204376,REEMPLAZO DE DOS RINES (17). PATRIMONIO 80383...,TR,1019110.0,2020-12-11,8500.02,GASTOS VARIOS
3,110152,"LLANTAS Y SERVICIOS SERNA ANAHUAC,S.A. DE C.V.",LSS841015DV3,LLS PF7004-158008-3971,OT. 20204374,REEMPLAZO DE DOS RINES (14). PATRIMONIO 8007...,TR,1019110.0,2020-12-11,2400.01,GASTOS VARIOS
4,110152,"LLANTAS Y SERVICIOS SERNA ANAHUAC,S.A. DE C.V.",LSS841015DV3,LLS PF7137-158008-4554,OT. 20205130,REEMPLAZO E INSTALACION DE RIN 14. PATRIMONIO ...,TR,299001496.0,2020-12-23,1537.00,GASTOS VARIOS

In [20]:
len(df_compras_dic)

1774

In [19]:
df_compras_dic_com = df_compras_dic.dropna(how='any')

In [22]:
len(df_compras_dic_com)

1540

In [23]:
df_compras_dic_com.dtypes

NUM BEN                 object
BENEFICIARIO            object
RFC                     object
FACTURA                 object
CONTRATO                object
CONCEPTO                object
TIPO                    object
# OP                   float64
FECHA           datetime64[ns]
IMPORTE                float64
SHEET                   object
dtype: object

In [27]:
df_compras_dic_com['FECHA'].apply(lambda x: x.month).value_counts()
#Validamos que toda la data este como decha en la columna

12    1540
Name: FECHA, dtype: int64

In [30]:
df_compras_dic_com.to_csv('EJERCICIOS ETL/Data/clean_compras.csv', index=None)

In [10]:
def dataframe(file, sheet, rows):
    df=pd.read_excel(file, sheet_name=sheet, skiprows=rows)
    df['SHEET']=sheet
    return df
df_personales=dataframe('12_DICIEMBRE_2020.xlsx', 'SERV. PERS.', 5)
df_personales.head()

,NUM BEN,BENEFICIARIO,RFC,FACTURA,CONTRATO,CONCEPTO,TIPO,# OP,FECHA,IMPORTE,SHEET
0,203013,ARRIAGA PEREZ ROCIO JAZMIN,AIPR9204286E1,113710-158004-1714,NO APLICA,FINIQUITO 113710,CH,299000184.0,2020-12-17,24797.96,SERV. PERS.
1,203013,AYALA SALAZAR GABRIEL,AASG841003MUA,119488-158004-1692,NO APLICA,FINIQUITO 119488,CH,299000170.0,2020-12-11,44602.65,SERV. PERS.
2,203013,BRANDI ELGUEZABAL MARCELO,BAEM840706IW8,116321-158004-1728,NO APLICA,FINIQUITO 116321,CH,299000192.0,2020-12-21,64941.95,SERV. PERS.
3,203013,BRAVO GARZA CARLOS ALBERTO,BAGC710225DV6,110914-158004-1698,NO APLICA,FINIQUITO 110914,CH,299000166.0,2020-12-11,77228.33,SERV. PERS.
4,203013,BRAVO MENDOZA JOEL,BAMJ851218R50,110915-158004-1699,NO APLICA,FINIQUITO 110915,CH,299000173.0,2020-12-11,42831.35,SERV. PERS.