In [6]:
%matpltlib inline

UsageError: Line magic function `%matpltlib` not found.

In [5]:
import pandas as pd
compras_df = pd.read_csv('Data/clean_compras.csv')
compras_df.head(5)

,NUM BEN,BENEFICIARIO,RFC,FACTURA,CONTRATO,CONCEPTO,TIPO,# OP,FECHA,IMPORTE,SHEET
0,110152,"LLANTAS Y SERVICIOS SERNA ANAHUAC,S.A. DE C.V.",LSS841015DV3,LLS AF8458-158008-3972,OT. 20204373,REEMPLAZO E INSTALACION DE AMORTIGUADORES (DEL...,TR,1019110.0,2020-12-11,14911.80,GASTOS VARIOS
1,110152,"LLANTAS Y SERVICIOS SERNA ANAHUAC,S.A. DE C.V.",LSS841015DV3,LLS PF6916-158008-4041,OT. 20204425,REEMPLAZO E INSTALACION DE OCHO BIRLOS Y NUEVE...,TR,1019110.0,2020-12-11,2528.80,GASTOS VARIOS
2,110152,"LLANTAS Y SERVICIOS SERNA ANAHUAC,S.A. DE C.V.",LSS841015DV3,LLS PF6917-158008-3975,OT. 20204376,REEMPLAZO DE DOS RINES (17). PATRIMONIO 80383...,TR,1019110.0,2020-12-11,8500.02,GASTOS VARIOS
3,110152,"LLANTAS Y SERVICIOS SERNA ANAHUAC,S.A. DE C.V.",LSS841015DV3,LLS PF7004-158008-3971,OT. 20204374,REEMPLAZO DE DOS RINES (14). PATRIMONIO 8007...,TR,1019110.0,2020-12-11,2400.01,GASTOS VARIOS
4,110152,"LLANTAS Y SERVICIOS SERNA ANAHUAC,S.A. DE C.V.",LSS841015DV3,LLS PF7137-158008-4554,OT. 20205130,REEMPLAZO E INSTALACION DE RIN 14. PATRIMONIO ...,TR,299001496.0,2020-12-23,1537.00,GASTOS VARIOS

# Visión general del DataSet

In [7]:
compras_df.columns

Index(['NUM BEN', 'BENEFICIARIO', 'RFC', 'FACTURA', 'CONTRATO', 'CONCEPTO',
       'TIPO', '# OP', 'FECHA', 'IMPORTE', 'SHEET'],
      dtype='object')

In [12]:
compras_df.dtypes

NUM BEN           int64
BENEFICIARIO     object
RFC              object
FACTURA          object
CONTRATO         object
CONCEPTO         object
TIPO             object
# OP            float64
FECHA            object
IMPORTE         float64
SHEET            object
dtype: object

In [10]:
compras_df.describe()

             NUM BEN          # OP       IMPORTE
count    1540.000000  1.540000e+03  1.540000e+03
mean   203914.777273  1.920050e+08  6.263179e+05
std     92435.932025  1.411189e+08  4.666912e+06
min    110152.000000  1.019042e+06  8.600000e-01
25%    116223.000000  1.019144e+06  2.987000e+03
50%    203013.000000  2.980000e+08  1.235584e+04
75%    311250.000000  3.000001e+08  1.130583e+05
max    370012.000000  6.040001e+08  1.267303e+08

In [15]:
compras_df = compras_df[['BENEFICIARIO','FACTURA','CONTRATO','CONCEPTO','TIPO','# OP','FECHA','IMPORTE','SHEET']]
compras_df

,BENEFICIARIO,FACTURA,CONTRATO,CONCEPTO,TIPO,# OP,FECHA,IMPORTE,SHEET
0,"LLANTAS Y SERVICIOS SERNA ANAHUAC,S.A. DE C.V.",LLS AF8458-158008-3972,OT. 20204373,REEMPLAZO E INSTALACION DE AMORTIGUADORES (DEL...,TR,1019110.0,2020-12-11,14911.80,GASTOS VARIOS
1,"LLANTAS Y SERVICIOS SERNA ANAHUAC,S.A. DE C.V.",LLS PF6916-158008-4041,OT. 20204425,REEMPLAZO E INSTALACION DE OCHO BIRLOS Y NUEVE...,TR,1019110.0,2020-12-11,2528.80,GASTOS VARIOS
2,"LLANTAS Y SERVICIOS SERNA ANAHUAC,S.A. DE C.V.",LLS PF6917-158008-3975,OT. 20204376,REEMPLAZO DE DOS RINES (17). PATRIMONIO 80383...,TR,1019110.0,2020-12-11,8500.02,GASTOS VARIOS
3,"LLANTAS Y SERVICIOS SERNA ANAHUAC,S.A. DE C.V.",LLS PF7004-158008-3971,OT. 20204374,REEMPLAZO DE DOS RINES (14). PATRIMONIO 8007...,TR,1019110.0,2020-12-11,2400.01,GASTOS VARIOS
4,"LLANTAS Y SERVICIOS SERNA ANAHUAC,S.A. DE C.V.",LLS PF7137-158008-4554,OT. 20205130,REEMPLAZO E INSTALACION DE RIN 14. PATRIMONIO ...,TR,299001496.0,2020-12-23,1537.00,GASTOS VARIOS
...,...,...,...,...,...,...,...,...,...
1535,SEGOVIA PAEZ MARCELO,116033-158004-1689,NO APLICA,FINIQUITO 116033,CH,1104570.0,2020-12-11,183992.72,SERV. PERS.
1536,SEGOVIA PAEZ MARCELO,116033-158004-1690,NO APLICA,FONDO PENSIONES 116033,CH,1104571.0,2020-12-11,56430.00,SERV. PERS.
1537,TORRES ACOSTA ROBERTO CARLOS,113052-158004-1725,NO APLICA,FONDO DE PENSIONES 113052,CH,299000183.0,2020-12-16,7425.00,SERV. PERS.
1538,TOVAR CEDILLO JAVIER ALFONSO,23016-158004-1705,NO APLICA,PAGO 30% JUICIO DE AMPARO No. 673/2020 (DICIE...,CH,299000179.0,2020-12-15,4084.68,SERV. PERS.
1539,VILLARREAL CARDENAS NANCY ESTHER,113711-158004-1711,NO APLICA,FONDO PENSIONES 113711,CH,1104567.0,2020-12-11,22575.00,SERV. PERS.

# Analisis unidimensional de las variables

In [17]:
# Variables categoricas
# conteo de variable, asi determinamos el balanceo de la información
compras_df['SHEET'].value_counts()

CONTRATISTAS Y FDO FED    724
GASTOS VARIOS             690
COMUNICACION               71
SERV. PERS.                46
SERV PPROF                  9
Name: SHEET, dtype: int64

# Analisis multidimensional de las variables

# Analisis de texto